.q1{
    background-image: url(https://media.contentapi.ea.com/content/dam/ea/fifa/fifa-23/shared-assets/images/2022/11/f23-wc-buy-heromed-7x2-xl.jpg.adapt.crop5x2.1455w.jpg);
}
.navbar{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
}