.q1{
    background-image: url(https://media.contentapi.ea.com/content/dam/ea/fifa/fifa-23/shared-assets/images/2022/11/f23-wc-buy-heromed-7x2-xl.jpg.adapt.crop5x2.1455w.jpg);
padding-top: 25px;
padding-bottom: 22px;
}

.navbar{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 25px;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
}
.navbar-nav{
    margin-left: 70px;
}
.nav-link{
    font-size: 23px;
    font-weight: 800;
    color: black;
}
.btn{
    padding: 7px 25px;
    
    color: black;
    font-size: 20px;
    font-weight: 800;
    background-color: #FF5E0C;
}
.q5{
    color: white;
    font-weight: 800;
    text-decoration: none;
    background-color: black;
    padding: 10px 35px;
}
.q4{
    color: #555658;
    font-weight: 700;
    font-size: 15px;
}
.q3{
    color: black;
    font-weight: 800;
    font-size: 48px;
}
.q6{
    margin-top: 50px;
}
.w1{
    background-image: url(https://media.contentapi.ea.com/content/dam/ea/fifa/fifa-23/images/2022/07/f23-fut-heroes-heromed-bg-7x2-xl.jpg.adapt.crop7x2.1920w.jpg);
}
.w2{
    background-image: url(https://media.contentapi.ea.com/content/dam/ea/fifa/fifa-23/world-cup/images/2022/11/fut23-hero-med-heroes-mg-7x2-xl.png.adapt.crop5x2.1455w.png);
}
.w3{
    color: white;
    font-weight: 800;
    font-size: 50px;
}
.w4{
    width: 1074px;
    padding-top: 45px;
    margin-left: 110px;

}
.w5{
    padding-top: 90px;
    margin-left: 90px;

}
.w7{
    color:white;
    font-weight: 700;
    font-size: 18px;
}
.w9{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 30px;
    border: 2px solid white;
}
.w8{
    margin-top: 50px;
}
.e2{
    color: black;
    font-weight: 900;
    font-size: 30px;
}
.e1{
    background-image: url(https://media.contentapi.ea.com/content/dam/ea/fifa/fifa-23/common/f23-wc-sectionbg-ptfcw-xl.jpg.adapt.1456w.jpg);
}
.r1{
    width: 540px;
    margin-left: 48px;
}
.r2{
    width: 540px;
    margin-left: 40px;
}
.r3{
    color: black;
    font-weight: 900;
}
.r5{
    text-decoration: none;
    padding: 15px 30px;
    color: black;
    background-color: #D9D5D2;
    border: 2px solid black;
}
.r6{
    padding-top: 50px;
}